<!DOCTYPE html>
<!-- Designined by CodingLab - youtube.com/codinglabyt -->
<html lang="en" dir="ltr">
<!-- Place favicon.ico in the root directory -->
<link rel="shortcut icon" type="image/x-icon" href="../JSFS/images/favicon.ico">
<link rel="apple-touch-icon" href="apple-touch-icon.png">
<head>
    <meta charset="UTF-8">
    <title> Đăng ký </title>
    <link href="~/account/ac.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    @RenderBody()
   
               
           

</body>
</html>
