 <!-- Start Slider Area -->
<div class="slider__container slider--one bg__cat--3">
    <div class="slide__container slider__activation__wrap owl-carousel">
        <!-- Start Single Slide -->
        <div class="single__slide animation__style01 slider__fixed--height">
            <div class="container">
                <div class="row align-items__center">
                    <div class="col-md-7 col-sm-7 col-xs-12 col-lg-6">
                        <div class="slide">
                            <div class="slider__inner">
                                <h2>collection 2023</h2>
                                <h1>special</h1>
                                <div class="cr__btn">
                                    <a asp-controller="SanPham" asp-action="index">Mua Ngay</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-5 col-xs-12 col-md-5">
                        <div class="slide__thumb">
                            <img src="../JSFS/images/slider/fornt-img/a1.jpg" alt="slider images">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Single Slide -->
        <!-- Start Single Slide -->
        <div class="single__slide animation__style01 slider__fixed--height">
            <div class="container">
                <div class="row align-items__center">
                    <div class="col-md-7 col-sm-7 col-xs-12 col-lg-6">
                        <div class="slide">
                            <div class="slider__inner">
                                <h2>collection 2023</h2>
                                <h1>special</h1>
                                <div class="cr__btn">
                                    <a href="cart.html">Mua Ngay</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-5 col-xs-12 col-md-5">
                        <div class="slide__thumb">
                            <img src="../JSFS/images/slider/fornt-img/a2.jpg" alt="slider images">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Single Slide -->
    </div>
</div>
<!-- Start Slider Area -->
<!-- Start Category Area -->
<section class="htc__category__area ptb--100">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section__title--2 text-center">
                    <h2 class="title__line">SẢN PHẨM MỚI</h2>
                </div>
            </div>
        </div>
        <div class="htc__product__container">
            <div class="row">
                <div class="product__list clearfix mt--30">

                    <!-- Start Single Category -->
                    <div class="col-md-4 col-lg-3 col-sm-4 col-xs-12">
                        <div class="category">
                            <div class="ht__cat__thumb">
                                <a href="product-details.html">
                                    <img src="../JSFS/images/product/a2.jpg" alt="product images">
                                </a>
                            </div>
                            <div class="fr__hover__info">
                                <ul class="product__action">
                                    <li><a href="wishlist.html"><i class="icon-heart icons"></i></a></li>

                                    <li><a href="cart.html"><i class="icon-handbag icons"></i></a></li>

                                    <li><a href="#"><i class="icon-shuffle icons"></i></a></li>
                                </ul>
                            </div>
                            <div class="fr__product__inner">
                                <h4><a href="product-details.html">Lắc bạc thạch anh tóc đen</a></h4>
                                <ul class="fr__pro__prize">
                                    <li class="old__prize">500.000VND</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Category -->
                    <!-- Start Single Category -->
                    <div class="col-md-4 col-lg-3 col-sm-4 col-xs-12">
                        <div class="category">
                            <div class="ht__cat__thumb">
                                <a href="product-details.html">
                                    <img src="../JSFS/images/product/a3.jpg" alt="product images">
                                </a>
                            </div>
                            <div class="fr__hover__info">
                                <ul class="product__action">
                                    <li><a href="wishlist.html"><i class="icon-heart icons"></i></a></li>

                                    <li><a href="cart.html"><i class="icon-handbag icons"></i></a></li>

                                    <li><a href="#"><i class="icon-shuffle icons"></i></a></li>
                                </ul>
                            </div>
                            <div class="fr__product__inner">
                                <h4><a href="product-details.html">Chuỗi Thạch Anh Tóc Đen</a></h4>
                                <ul class="fr__pro__prize">
                                    <li class="old__prize">650.000VND</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Category -->
                    <!-- Start Single Category -->
                    <div class="col-md-4 col-lg-3 col-sm-4 col-xs-12">
                        <div class="category">
                            <div class="ht__cat__thumb">
                                <a href="product-details.html">
                                    <img src="../JSFS/images/product/a5.jpg" alt="product images">
                                </a>
                            </div>
                            <div class="fr__hover__info">
                                <ul class="product__action">
                                    <li><a href="wishlist.html"><i class="icon-heart icons"></i></a></li>

                                    <li><a href="cart.html"><i class="icon-handbag icons"></i></a></li>

                                    <li><a href="#"><i class="icon-shuffle icons"></i></a></li>
                                </ul>
                            </div>
                            <div class="fr__product__inner">
                                <h4><a href="product-details.html">Chuỗi Xà Cừ</a></h4>
                                <ul class="fr__pro__prize">
                                    <li class="old__prize">550.000VND</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Category -->
                    <!-- Start Single Category -->
                    <div class="col-md-4 col-lg-3 col-sm-4 col-xs-12">
                        <div class="category">
                            <div class="ht__cat__thumb">
                                <a href="product-details.html">
                                    <img src="../JSFS/images/product/a6.jpg" alt="product images">
                                </a>
                            </div>
                            <div class="fr__hover__info">
                                <ul class="product__action">
                                    <li><a href="wishlist.html"><i class="icon-heart icons"></i></a></li>

                                    <li><a href="cart.html"><i class="icon-handbag icons"></i></a></li>

                                    <li><a href="#"><i class="icon-shuffle icons"></i></a></li>
                                </ul>
                            </div>
                            <div class="fr__product__inner">
                                <h4><a href="product-details.html">Chuỗi Xà Cừ mix bạc </a></h4>
                                <ul class="fr__pro__prize">
                                    <li class="old__prize">700.000VND</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Category -->

                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Category Area -->
<!-- Start Prize Good Area -->
<section class="htc__good__sale bg__cat--3">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                <div class="fr__prize__inner">
                    <h2>Khám phá bộ sưu tập trang sức phong thủy tại cửa hàng của chúng tôi.</h2>
                    <h3>Nơi tạo năng lượng cân bằng và may mắn cho cuộc sống của bạn.</h3>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                <div class="prize__inner">
                    <div class="prize__thumb">
                        <img src="../JSFS/images/banner/big-img/a1.jpg" alt="banner images">
                    </div>
                </div>
            </div>
        </div>
</section>
<!-- End Prize Good Area -->
<!-- Start Product Area -->
<section class="ftr__product__area ptb--100">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section__title--2 text-center">
                    <h2 class="title__line">BÁN CHẠY NHẤT</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="product__wrap clearfix">
                <!-- Start Single Category -->
                <div class="col-md-4 col-lg-3 col-sm-4 col-xs-12">
                    <div class="category">
                        <div class="ht__cat__thumb">
                            <a href="product-details.html">
                                <img src="../JSFS/images/product/a9.jpg" alt="product images">
                            </a>
                        </div>
                        <div class="fr__hover__info">
                            <ul class="product__action">
                                <li><a href="wishlist.html"><i class="icon-heart icons"></i></a></li>

                                <li><a href="cart.html"><i class="icon-handbag icons"></i></a></li>

                                <li><a href="#"><i class="icon-shuffle icons"></i></a></li>
                            </ul>
                        </div>
                        <div class="fr__product__inner">
                            <h4><a href="product-details.html">Lắc Bạc Moonstone</a></h4>
                            <ul class="fr__pro__prize">
                                <li class="old__prize">850.000 VND</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End Single Category -->
                <!-- Start Single Category -->
                <div class="col-md-4 col-lg-3 col-sm-4 col-xs-12">
                    <div class="category">
                        <div class="ht__cat__thumb">
                            <a href="product-details.html">
                                <img src="../JSFS/images/product/a10.jpg" alt="product images">
                            </a>
                        </div>
                        <div class="fr__hover__info">
                            <ul class="product__action">
                                <li><a href="wishlist.html"><i class="icon-heart icons"></i></a></li>

                                <li><a href="cart.html"><i class="icon-handbag icons"></i></a></li>

                                <li><a href="#"><i class="icon-shuffle icons"></i></a></li>
                            </ul>
                        </div>
                        <div class="fr__product__inner">
                            <h4><a href="product-details.html">Lắc Bạc Ngọc Huyết</a></h4>
                            <ul class="fr__pro__prize">
                                <li class="old__prize">500.000 VND</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End Single Category -->
                <!-- Start Single Category -->
                <div class="col-md-4 col-lg-3 col-sm-4 col-xs-12">
                    <div class="category">
                        <div class="ht__cat__thumb">
                            <a href="product-details.html">
                                <img src="../JSFS/images/product/a11.jpg" alt="product images">
                            </a>
                        </div>
                        <div class="fr__hover__info">
                            <ul class="product__action">
                                <li><a href="wishlist.html"><i class="icon-heart icons"></i></a></li>

                                <li><a href="cart.html"><i class="icon-handbag icons"></i></a></li>

                                <li><a href="#"><i class="icon-shuffle icons"></i></a></li>
                            </ul>
                        </div>
                        <div class="fr__product__inner">
                            <h4><a href="product-details.html">Vòng Chuỗi Đơn Aquamarine</a></h4>
                            <ul class="fr__pro__prize">
                                <li class="old__prize">700.000 VND</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End Single Category -->
                <!-- Start Single Category -->
                <div class="col-md-4 col-lg-3 col-sm-4 col-xs-12">
                    <div class="category">
                        <div class="ht__cat__thumb">
                            <a href="product-details.html">
                                <img src="../JSFS/images/product/a12.jpg" alt="product images">
                            </a>
                        </div>
                        <div class="fr__hover__info">
                            <ul class="product__action">
                                <li><a href="wishlist.html"><i class="icon-heart icons"></i></a></li>

                                <li><a href="cart.html"><i class="icon-handbag icons"></i></a></li>

                                <li><a href="#"><i class="icon-shuffle icons"></i></a></li>
                            </ul>
                        </div>
                        <div class="fr__product__inner">
                            <h4><a href="product-details.html">Lắc Bạc Thạch Anh Tóc Vàng </a></h4>
                            <ul class="fr__pro__prize">
                                <li class="old__prize">800.000 VND</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End Single Category -->
            </div>
        </div>
    </div>
</section>
<!-- End Product Area -->
<!-- Start Testimonial Area -->
<section class="htc__testimonial__area bg__cat--4">
    <div class="container">
        <div class="row">
            <div class="ht__testimonial__activation clearfix">
                <!-- Start Single Testimonial -->
                <div class="col-lg-6 col-md-6 single__tes">
                    <div class="testimonial">
                        <div class="testimonial__thumb">
                            <img src="../JSFS/images/test/client/1.png" alt="testimonial images">
                        </div>
                        <div class="testimonial__details">
                            <h4><a href="#">Mr.T</a></h4>
                            <p>Sức mạnh thực sự nằm trong khả năng kiểm soát bản thân, chứ không phải là kiểm soát người khác.</p>
                        </div>
                    </div>
                </div>
                <!-- End Single Testimonial -->
                <!-- Start Single Testimonial -->
                <div class="col-lg-6 col-md-6 single__tes">
                    <div class="testimonial">
                        <div class="testimonial__thumb">
                            <img src="../JSFS/images/test/client/2.png" alt="testimonial images">
                        </div>
                        <div class="testimonial__details">
                            <h4><a href="#">Mr.D</a></h4>
                            <p>Cuộc sống là cuốn sách mà chúng ta viết, với mỗi ngày là một từ mới thêm vào trang giấy của chúng ta.</p>
                        </div>
                    </div>
                </div>
                <!-- End Single Testimonial -->
                <!-- Start Single Testimonial -->
                <div class="col-lg-6 col-md-6 single__tes">
                    <div class="testimonial">
                        <div class="testimonial__thumb">
                            <img src="../JSFS/images/test/client/1.png" alt="testimonial images">
                        </div>
                        <div class="testimonial__details">
                            <h4><a href="#">Ms.U</a></h4>
                            <p>Trí tuệ không chỉ nằm trong việc biết nhiều, mà còn ẩn chứa trong cách áp dụng những kiến thức đó.</p>
                        </div>
                    </div>
                </div>
                <!-- End Single Testimonial -->
                <!-- Start Single Testimonial -->
                <div class="col-lg-6 col-md-6 single__tes">
                    <div class="testimonial">
                        <div class="testimonial__thumb">
                            <img src="../JSFS/images/test/client/2.png" alt="testimonial images">
                        </div>
                        <div class="testimonial__details">
                            <h4><a href="#">Ms.H</a></h4>
                            <p>Không ai có thể điều khiển thời gian, nhưng chúng ta có thể quyết định cách chúng ta sử dụng nó.</p>
                        </div>
                    </div>
                </div>
                <!-- End Single Testimonial -->
            </div>
        </div>
    </div>
</section>
<!-- End Testimonial Area -->
<!-- Start Blog Area -->
<section class="htc__blog__area bg__white ptb--100">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section__title--2 text-center">
                    <h2 class="title__line">Bài Viết</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="ht__blog__wrap clearfix">
                <!-- Start Single Blog -->
                <div class="col-md-6 col-lg-4 col-sm-6 col-xs-12">
                    <div class="blog">
                        <div class="blog__thumb">
                            <a href="blog-details.html">
                                <img src="../JSFS/images/blog/blog-img/a1b.jpg" alt="blog images">
                            </a>
                        </div>
                        <div class="blog__details">
                            <div class="bl__date">
                                <span>22 Tháng 10, 2022</span>
                            </div>
                            <h2><a href="blog-details.html">Đá Thạch Anh Tóc Đỏ </a></h2>
                            <p>Đá thạch anh tóc đỏ thường được cho là có khả năng tăng cường năng lượng, can đảm và đam mê. </p>
                            <div class="blog__btn">
                                <a href="blog-details.html">Đọc Thêm</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Blog -->
                <!-- Start Single Blog -->
                <div class="col-md-6 col-lg-4 col-sm-6 col-xs-12">
                    <div class="blog">
                        <div class="blog__thumb">
                            <a href="blog-details.html">
                                <img src="../JSFS/images/blog/blog-img/a2b.jpg" alt="blog images">
                            </a>
                        </div>
                        <div class="blog__details">
                            <div class="bl__date">
                                <span>15 tháng 1, 2023</span>
                            </div>
                            <h2><a href="blog-details.html">Đá Thạch Anh Tóc Đen</a></h2>
                            <p>Đá thạch anh tóc đen thường được liên kết với sự bình tĩnh, ổn định và sự bảo vệ khỏi tâm trạng u ám.</p>
                            <div class="blog__btn">
                                <a href="blog-details.html">Đọc Thêm</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Blog -->
                <!-- Start Single Blog -->
                <div class="col-md-6 col-lg-4 col-sm-6 col-xs-12">
                    <div class="blog">
                        <div class="blog__thumb">
                            <a href="blog-details.html">
                                <img src="../JSFS/images/blog/blog-img/a3b.jpg" alt="blog images">
                            </a>
                        </div>
                        <div class="blog__details">
                            <div class="bl__date">
                                <span>29 tháng 8, 2023</span>
                            </div>
                            <h2><a href="blog-details.html">Đá Thạch Anh Tóc Xanh</a></h2>
                            <p>Đá thạch anh tóc xanh thường được kết nối với sự thư thái, sự hòa quyện với thiên nhiên và khả năng thúc đẩy sự hài hòa tinh thần.</p>
                            <div class="blog__btn">
                                <a href="blog-details.html">Đọc Thêm</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Blog -->
            </div>
        </div>
    </div>
</section>
<!-- End Blog Area -->
<!-- End Banner Area -->
