<!DOCTYPE html>
<html lang="en">
<!-- Place favicon.ico in the root directory -->
<link rel="shortcut icon" type="image/x-icon" href="../JSFS/images/favicon.ico">
<link rel="apple-touch-icon" href="apple-touch-icon.png">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng nhập</title>
    <link href="~/account/ac.css" rel="stylesheet" />
</head>
<body>
    @RenderBody()
   

</body>
</html>