@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model HaNeeStore.Models.Product

@{
    ViewData["Title"] = "SuaSanPham";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Sửa Sản Phẩm</h2>

<h4>Sản Phẩm</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="SuaSanPham">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProductId" />
            <div class="form-group">
                <label asp-for="ProductName" class="control-label"></label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShortDecs" class="control-label"></label>
                <input asp-for="ShortDecs" class="form-control" />
                <span asp-validation-for="ShortDecs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductPhoto" class="control-label"></label>
                <input asp-for="ProductPhoto" class="form-control" />
                <span asp-validation-for="ProductPhoto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CatId" class="control-label"></label>
                <input asp-for="CatId" class="form-control" />
                <span asp-validation-for="CatId" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

